{% extends 'base.html.twig' %}

{% block title %}Hello ItemController!{% endblock %}

{% block body %}
<div class="container">
    <div class="example-wrapper w-100">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if app.user == item.collection.user or 'ROLE_ADMIN' in app.user.roles %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a type="button" class="btn btn-outline-primary mb-2" href="{{ path('item_edit', {'id': item.id}) }}">Edit</a>
                <a type="button" class="btn btn-outline-primary mb-2" href="{{ path('item_delete', {'id': item.id}) }}">Delete</a>
            </div>
            {% endif %}
        {% endif %}
        <div class="row row-cols-1 row-cols-md-1 mb-3">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal  text-center">{{ item.title }}</h4>
                        <div class="row">
                            <div class="col-12">
                                Created at : {{ item.createDate|date('m-d-y') }}
                            </div>
                        </div>
                        {% for attribute in item.attributes %}
                            <div class="row">
                                <div class="col-12">
                                    <label>{{ attribute.collectionAttribute.name ~ ' : ' ~ attribute.value  }}</label>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% if app.user %}
                    {% if item.checkLike(app.user) %}
                        <a type="button" class="btn btn-primary mb-2" href="{{ path('item_like', {'id': id }) }}">Like</a>
                    {% else %}
                        <a type="button" class="btn btn-outline-primary mb-2" href="{{ path('item_like', {'id': id }) }}">Like</a>
                    {% endif %}
                    {{ item.countLikes }}
                {% else %}
                    Like:{{ item.countLikes }}
                {% endif %}

                <div class="d-flex justify-content-center row">
                    <div class="d-flex flex-column comment-section">
                        <h6>Comments</h6>
                        {% if (comments != null) %}
                            {% for comment in comments %}
                                <div class="row">
                                    <div class="col">
                                        <div class="card mb-2 shadow-sm">
                                            <div class="card-header py-2">
                                                <h class="my-0 fw-normal"> {{ comment.user.name }}</h>
                                                <h>{{ comment.createAt|date('d-m-Y H:i:s') }}</h>
                                            </div>
                                            <div class="card-body">
                                                {{ comment.content }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class="mt-4">
                                {{ form_start(itemForm) }}
                                <label class="w-100">
                                    {{ form_widget(itemForm.content, { 'attr': {'class': 'form-control ml-1 shadow-none textarea'} }) }}
                                </label>
                                <div class="mt-2 text-right">
                                    {{ form_widget(itemForm.post, { 'attr': {'class':"btn btn-primary btn-sm shadow-none"}}) }}
                                </div>
                                {{ form_end(itemForm) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
