{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="container">
        {% if users == null %}
            <h3>No Users</h3>
        {% else %}
            <h1>List of Users</h1>
            <button class="btn-primary mt-2 mb-2" id="user_delete">Delete</button>
            <button class="btn-primary mt-2 mb-2" id="user_block">Block</button>
            <button class="btn-primary mt-2 mb-2" id="user_unblock">Unblock</button>
            <button class="btn-primary mt-2 mb-2" id="user_add_admin">Add Admin</button>
            <button class="btn-primary mt-2 mb-2" id="user_delete_admin">Delete Admin</button>
            <table class="table table-striped" style="width: 100%">
                <tr>
                    <th><input type="checkbox" id="check_all" ><label for="check_all">Check all</label> </th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Status</th>
                </tr>
                {% for user in users %}
                    {% if user.isActive %}
                        <tr bgcolor="white">
                    {% else %}
                        <tr bgcolor="#808080">
                    {% endif %}
                        <td><input type="checkbox" id="user_id_{{ user.id }}" name="user_id_change_checkbox" value="{{ user.id }}"><label for="user_id_{{ user.id }}"></label></td>
                        <td>{{ loop.index }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{% for role in user.roles %}
                            {{ role }}
                            {% endfor %}
                        </td>
                        <td>{% if user.IsActive %}
                                Active
                            {% else %}
                                Banned
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
    <script>
        $('body').on('change', '#check_all', function () {
            $('[name="user_id_change_checkbox"]').prop('checked', $(this).is(':checked'));
        });
        $('body').on('change', '[name="user_id_change_checkbox"]', function () {
            $('#check_all').prop('checked', $('[name="user_id_change_checkbox"]').length ===  $('[name="user_id_change_checkbox"]:checked').length);
        });
        $('#user_delete').click(function (){
            let ids = [];
            $("input:checkbox[name=user_id_change_checkbox]:checked").each(function(){
                ids.push($(this).val());
            });
            $.ajax({
                url: '{{ path('user_delete') }}',
                type: "POST",
                dataType: "json",
                data: JSON.stringify({'ids' : ids}),
                success: function (data) {
                    let response = JSON.parse(data);
                    if (response.success) {
                        window.location.href = '/admin/user';
                    }
                },
            });
        });
        $('#user_block').click(function (){
            let ids = [];
            $("input:checkbox[name=user_id_change_checkbox]:checked").each(function(){
                ids.push($(this).val());
            });
            $.ajax({
                url: '{{ path('user_block') }}',
                type: "POST",
                dataType: "json",
                data: JSON.stringify({'ids' : ids}),
                success: function (data) {
                    let response = JSON.parse(data);
                    if (response.success) {
                        window.location.href = '/admin/user';
                    }
                },
            });
        });
        $('#user_unblock').click(function (){
            let ids = [];
            $("input:checkbox[name=user_id_change_checkbox]:checked").each(function(){
                ids.push($(this).val());
            });
            $.ajax({
                url: '{{ path('user_unblock') }}',
                type: "POST",
                dataType: "json",
                data: JSON.stringify({'ids' : ids}),
                success: function (data) {
                    if (JSON.parse(data).success) {
                        window.location.href = '/admin/user';
                    }
                },
            });
        });
        $('#user_add_admin').click(function (){
            let ids = [];
            $("input:checkbox[name=user_id_change_checkbox]:checked").each(function(){
                ids.push($(this).val());
            });
            $.ajax({
                url: '{{ path('user_add_admin') }}',
                type: "POST",
                dataType: "json",
                data: JSON.stringify({'ids' : ids}),
                success: function (data) {
                    let response = JSON.parse(data);
                    if (response.success) {
                        window.location.href = '/admin/user';
                    }
                },
            });
        });
        $('#user_delete_admin').click(function (){
            let ids = [];
            $("input:checkbox[name=user_id_change_checkbox]:checked").each(function(){
                ids.push($(this).val());
            });
            $.ajax({
                url: '{{ path('user_delete_admin') }}',
                type: "POST",
                dataType: "json",
                data: JSON.stringify({'ids' : ids}),
                success: function (data) {
                    if (JSON.parse(data).success) {
                        window.location.href = '/admin/user';
                    }
                },
            });
        });

    </script>
{% endblock %}
