{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

    <div class="container">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if app.user.id ==  id  or 'ROLE_ADMIN' in app.user.roles %}
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a type="button" class="btn btn-outline-primary mb-2" href="{{ path('main_user_item_create', {'id': id }) }}">Add Item</a>
                    <a type="button" class="btn btn-outline-primary mb-2" href="{{ path('collection_edit', {'id': id }) }}">Collection create</a>
                    <a type="button" class="btn btn-outline-primary mb-2" href="{{ path('collection_delete', {'id': id }) }}">Collection delete</a>
                </div>
            {% endif %}
        {% endif %}
        <div class="row row-cols-3 row-cols-md-3 mb-3 text-center">
            {% for item in items %}
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">{{ item.title }}</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title"></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>
                                </li>
                            </ul>
                            <a type="button" class="w-100 btn btn-lg btn-outline-primary" href="{{ path('item', {'id': item.id}) }}">Look</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
