{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

    <div class="container">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a type="button" class="btn btn-outline-primary mb-2" href="{{ path('main_user_collections_create') }}">Add Collection</a>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            {% for collection in collections %}
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">{{ collection.title }}</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ collection.image }}</h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>{{ collection.description }}</li>
                            </ul>
                            <a type="button" class="w-100 btn btn-lg btn-outline-primary" href="{{ path('main_items_collection', {'id': collection.id}) }}">Look</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
